<section class="asiste py-20">
  <div class="container mx-auto">
    <div class="flex flex-col-reverse md:flex-row justify-center">
      <div class="basis-2/4 px-5 md:p-0">
        <img class="rounded-lg animate__slower " src="assets/img/luke-porter-NEqEC7qa9FM-unsplash.jpg" alt="">
      </div>
      @defer (on viewport) {
        <div class="basis-2/4 flex flex-col items-center justify-center gap-1">
          <h3 class="text-3xl text-center uppercase text-[#3b383b] animate__animated animate__fadeInLeft animate__slow">Te invitamos a asistir a una<br> de nuestras reuniones</h3>
          <p class="text-xl text-[#f0565d] mb-2 animate__animated animate__fadeInLeft animate__delay-2s">Nuestros servicios son gratuitos</p>
          <a routerLink="/donde-encontrarnos" class="rounded-lg border-[#f0565d] border-2 flex flex-col items-center p-2 mb-4  animate__animated animate__fadeIn animate__delay-3s">
            <svg class="fill-[#f0565d] w-7" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24"><path d="M12,0A10.011,10.011,0,0,0,2,10c0,5.282,8.4,12.533,9.354,13.343l.646.546.646-.546C13.6,22.533,22,15.282,22,10A10.011,10.011,0,0,0,12,0Zm0,15a5,5,0,1,1,5-5A5.006,5.006,0,0,1,12,15Z"/><circle cx="12" cy="10" r="3"/></svg>
            <span class="text-[#f0565d] text-lg">Conoce nuestro locales</span>
          </a>
        </div>
      }@placeholder {
        <p>Cargando...</p>
      }
    </div>
  </div>
</section>
