<section class="youtube bg-[#ebebeb] py-14">
  <div class="container mx-auto w-9/12">
    <div class="flex flex-col xl:flex-row gap-16">
      <div class="flex xl:flex-row flex-col basis-1/4 items-center justify-center gap-5">
        <div class="flex justify-center basis-2/6">
          <img class="w-44" src="assets/icon/youtube.svg" alt="icono Youtube">
        </div>
        <h3 class="text-[#3b383b] text-3xl basis-4/6">
          Nuestro Canal
          <br>
          de <span class="text-[#f0565d]">YouTube</span>
        </h3>
      </div>
      <div class="flex basis-3/4 flex-wrap justify-center gap-5">
        <iframe width="340" height="190" src="https://www.youtube.com/embed/MUrAhE2407o?si=DE_AP5hcdj5KyDHC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="340" height="190" src="https://www.youtube.com/embed/ELIjTp9HI2Q?si=E89mtX1CEqh2Q_8z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="340" height="190" src="https://www.youtube.com/embed/Tjq1NZWWf3Q?si=DSHzfQCIUkrHdIlS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="340" height="190" src="https://www.youtube.com/embed/xY6D4OVuGpY?si=cvV9auGJoO5d2eAl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
