<h1>Autodiagnostico</h1>
<p>¿Has tratado alguna vez de dejar de beber o consumir durante una semana o más, sin haber podido cumplir el plazo?</p>

<p>¿Tu forma de consumir te ha causado dificultades en casa?</p>

<p>¿Creciste en una familia problemática, reprimida, químicamente dependiente, o disfuncional?</p>

<p>¿Te sientes demasiado responsable de los sentimientos, pensamientos, acciones, necesidades y bienestar de otros?</p>

<p>¿Crees que no puedes ser feliz hasta que otra persona - padre, hijo, amigo, amante o pareja - cambie su conducta?</p>

<p>¿Estás esperando que otra persona cambie para poder ser feliz?</p>

<p>¿Usualmente no dices lo que sientes?</p>

<p>¿Tratas de complacer a otros y nunca a ti mismo?</p>

<p>¿Tienes miedo a crecer y a encarar las responsabilidades que ello conlleva?</p>

<p>¿Te sientes estancado, atrapado y desesperanzado, pero te dices a ti mismo que tu problema no es tan serio como para
  necesitar ayuda?</p>

<p>¿Te preocupas por una persona, o por conseguir algo hasta el punto de no tener un sueño normal, enfermarte y no poder
  relajarte y disfrutar de la vida?</p>

<p>¿Tienes miedo al rechazo, abandono o soledad?</p>

<p>Si de manera honesta haz contestado Si a alguna de estas preguntas, no estás sola(o), estamos para ayudarte.</p>
