<section class="quienes-somos overflow-hidden">
  <div class="container mx-auto">

    <div class="flex flex-col gap-6 py-14">

        @defer(on viewport){
        <h2 class="text-4xl uppercase font-semibold text-[#f0565d] text-center animate__animated animate__backInUp animate__slow ">¿Quiénes somos y qué hacemos?
        </h2>
        <p
          class="text-xl text-[#3b383b] text-center animate__animated animate__backInLeft animate__fast">
          C de Corazón es un colectivo de grupos de autoayuda para personas con problemas de adicción y tipo emocional con el objetivo en común de dejar de sufrir. Los principios de nuestro programa son sencillos y al alcance de todos.
        </p>
        }@placeholder {
        <p>Cargando..</p>
        }


    </div>

  </div>
</section>
