<section class="encontrarnos">

  <div
    class="header rounded-3xl m-2 h-[90vh] lg:h-[70vh] md: bg-no-repeat bg-cover bg-center md:bg-left-top" style="background-image: url(/assets/img/ayuda-am-fa.jpg);">
    <div class="relative mx-auto top-1/4 flex flex-col items-center gap-3">
      <h1 class="text-5xl text-white text-center" style="text-shadow: #3b383b 0px 0px 10px;">Ayuda para un familiar o
        amigo</h1>
      <app-redes-sociales [color]="'#ffffff'" />
    </div>
  </div>

  <div class="flex flex-col gap-9 py-9 px-2">

    <div class="flex flex-col gap-5 justify-center items-center">
      <svg class="fill-slate-600" width="50" height="50" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24">
        <path
          d="m23.707,22.293l-5.963-5.963c1.412-1.725,2.262-3.927,2.262-6.324C20.006,4.492,15.52.006,10.006.006S.006,4.492.006,10.006s4.486,10,10,10c2.398,0,4.6-.85,6.324-2.262l5.963,5.963c.195.195.451.293.707.293s.512-.098.707-.293c.391-.391.391-1.023,0-1.414Zm-9.707-9.293H6c-.552,0-1-.447-1-1s.448-1,1-1v-2c0-.553.448-1,1-1s1,.447,1,1v2h1v-5c0-.553.448-1,1-1s1,.447,1,1v5h1v-3c0-.553.448-1,1-1s1,.447,1,1v3c.552,0,1,.447,1,1s-.448,1-1,1Z" />
      </svg>
      <h3 class="text-center text-3xl text-[#f0565d]">Autodiagnóstico</h3>
      <button routerLink="/autodiagnostico-alanon" class="p-4 bg-[#2d9cdb] text-xl rounded-xl text-white">Comenzar Autodiagnóstico</button>
    </div>

    <div class="bg-slate-50 p-7 text-center flex flex-col gap-4">
      <h2 class="text-[#ff9d5a] text-4xl">¿Hay ayuda para mí?</h2>
      <p class="text-xl  text-[#3b383b]">Los grupos de familia Al-Anon, Al-Anon hijos adultos y Alateen ofrecen ayuda y
        esperanza</p>
      <p class="text-xl  text-[#3b383b]">A.A. está integrado por alcohólicos que ayudan a otros alcohólicos a
        recuperarse.
        Los grupos de familias son otro programa de recuperación de Doce Pasos</p>
    </div>

    <div class="locales-izquierda">
      <div class="container mx-auto">
        <div class="flex flex-col-reverse lg:flex-row gap-4 p-7 bg-slate-100 rounded-xl items-center">
          <div class="basis-full md:basis-1/2">
            <iframe class="rounded-xl w-[100%] h-96"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29864.314806206334!2d-103.38443!3d20.667978000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae748602e2af%3A0x2c01ae8253c321d7!2sAv.%20de%20los%20Arcos%20611%2C%20Jardines%20del%20Bosque%2C%2044520%20Guadalajara%2C%20Jal.%2C%20M%C3%A9xico!5e0!3m2!1ses!2sus!4v1713213091837!5m2!1ses!2sus"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="basis-full md:basis-1/2 flex flex-col justify-center items-center gap-4">
            <img class="rounded-full bg-white h-60 w-60" src="assets/grupos/al-anon.png" alt="Grupo de Al-Anon Despertar al Núcleo">
            <app-redes-grupo [facebook]="'https://www.facebook.com/DANalanon/'"
              [instagram]="'https://www.instagram.com/despertar.al.nucleo/'" [telefono]="'3312415702'" />
            <p class="text-lg text-center">El grupo de Al-Anon Despertar al Núcleo es una hermandad de parientes y
              amigos de alcohólicos que comparten sus experiencias, fortaleza y esperanza con el fin de encontrar solución a
              su problema en común.
              <br><br>
              Creemos que las adicciones son una enfermedad de la familia y que un cambio de actitud puede ayudar a la
              recuperación. Tenemos sumo cuidado en proteger el anonimato de cada miembro.
            </p>
            <boton-mas-informacion srcRuta="/info-dan"/>
          </div>
        </div>
      </div>
    </div>


    <div class="locales-derecha">
      <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row gap-4 p-7 bg-slate-200 rounded-xl items-center">
          <div class="basis-full md:basis-1/2 flex flex-col justify-center items-center gap-4">
            <img class="rounded-full bg-white h-60 w-60" src="assets/grupos/alateen.png" alt="Grupo de Alateen Metamorfosis">
            <app-redes-grupo [facebook]="'https://www.facebook.com/metamorfosisalateen'"
              [instagram]="'https://www.instagram.com/metamorfosis_alateen'" [telefono]="'3333613699'" />
            <p class="text-lg text-center">Alateen es una hermandad constituida por jóvenes cuya vida a sido afectada
              por el alcoholismo de un familiar o amigo intimo. Se ayudan mutuamente compartiendo su experiencia,
              fortaleza y esperanza. No se discute religion ni se compromete con ninguna organización, nos
              mantenemos con nuestras propias contribuciones.
              <br><br>
              El objetivo primordial de Alateen es solucionar nuestros propios problemas, tenemos sumo cuidado con
              proteger el anonimato de cada uno de sus miembros. Se aplican los 12 pasos a nosotros mismos para empezar
              a crecer mental, emocional y espiritualmente.
            </p>
            <boton-mas-informacion srcRuta="/info-metamorfosis"/>
          </div>
          <div class="basis-full md:basis-1/2">
            <iframe class="rounded-xl w-[100%] h-96"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29864.314806206334!2d-103.38443!3d20.667978000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae748602e2af%3A0x2c01ae8253c321d7!2sAv.%20de%20los%20Arcos%20611%2C%20Jardines%20del%20Bosque%2C%2044520%20Guadalajara%2C%20Jal.%2C%20M%C3%A9xico!5e0!3m2!1ses!2sus!4v1713213091837!5m2!1ses!2sus"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="locales-izquierda">
      <div class="container mx-auto">
        <div class="flex flex-col-reverse lg:flex-row gap-4 p-7 bg-slate-300 rounded-xl items-center">
          <div class="basis-full md:basis-1/2">
            <iframe class="rounded-xl w-[100%] h-96"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14943.894307212491!2d-104.042134!3d20.548262!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8426764f7dcce3c1%3A0x5a32b2be0f16671b!2sC.%20Guti%C3%A9rrez%2095%2C%20Los%20Naranjos%2C%2046600%20Ameca%2C%20Jal.%2C%20M%C3%A9xico!5e0!3m2!1ses!2sus!4v1713214224717!5m2!1ses!2sus"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="basis-full md:basis-1/2 flex flex-col justify-center items-center gap-4">
            <img class="rounded-full bg-white h-60 w-60" src="assets/grupos/dan-ameca.png" alt="Grupo de Al-Anon Despertar al Núcleo Ameca">
            <app-redes-grupo [facebook]="'https://www.facebook.com/AlanonAmeca'"
              [instagram]="'https://www.instagram.com/dan_ameca?igsh=MTRnZzEwZjNxbmF2Zg=='" [telefono]="'3333613699'" />
            <p class="text-lg text-center">Despertar al Núcleo Ameca es un grupo de familiares y amigos de alcohólicos
              donde compartimos nuestra experiencia, fortaleza y esperanza.
              <br><br>
              Ya que el alcoholismo es una enfermedad que no solo afecta al bebedor compulsivo sino a todos los que lo
              rodean, y aprendemos a vivir mejor independientemente de que él alcohólico este activo o no.
            </p>
            <boton-mas-informacion srcRuta="/info-dan-ameca"/>
          </div>
        </div>
      </div>
    </div>

    <div class="locales-derecha">
      <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row gap-4 p-7 bg-slate-400 rounded-xl items-center">
          <div class="basis-full md:basis-1/2 flex flex-col justify-center items-center gap-4">
            <img class="rounded-full bg-white h-60 w-60" src="assets/grupos/alma-nova.png" alt="Grupo de Al-Anon Hijos Adultos Alma Nova ">
            <app-redes-grupo [facebook]="'https://www.facebook.com/profile.php?id=100090134182744'"
              [instagram]="'https://www.instagram.com/alma_nova_alanon/'" [telefono]="'3319535166'" />
            <p class="text-lg text-center text-white">El grupo de Al-Anon Hijos Adultos Alma Nova es para los jóvenes
              adultos que han sido afectados por el alcoholismo de un familiar o un amigo. Nos ayudamos mutuamente
              compartiendo nuestras experiencias, fortaleza y esperanza.
              <br><br>
              Estamos convencidos de que el alcoholismo es una enfermedad de la familia que afecta a todos emocional y a
              veces físicamente. Tenemos sumo cuidado en proteger el anonimato de cada miembro.</p>
              <boton-mas-informacion srcRuta="/info-almanova"/>
          </div>
          <div class="basis-full md:basis-1/2">
            <iframe class="rounded-xl w-[100%] h-96"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6377.269520572983!2d-103.38701852300044!3d20.66812178089242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428afbe7a2e3177%3A0xb4615004dc44b593!2sAlma%20Nova%20(Al-Anon%20Hijos%20Adultos)!5e1!3m2!1ses-419!2smx!4v1745385148504!5m2!1ses-419!2smx"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
