<section class="encontrarnos">

  <div class="header rounded-3xl m-2 h-[90vh] lg:h-[70vh] md: bg-no-repeat bg-cover bg-center md:bg-bottom"
    style="background-image: url(/assets/img/encontrarnos.jpg);">
    <div class="relative mx-auto top-1/4 flex flex-col items-center gap-3">
      <h1 class="text-5xl text-slate-700 text-center" style="text-shadow: white 0px 0px 10px;">¿Dónde encontrarnos?</h1>
      <app-redes-sociales [color]="'#ffffff'" />
    </div>
  </div>

  <div class="flex flex-col gap-9 py-9 px-2">

    <app-autodiagnostico />

    <div class="bg-slate-50 p-7">
      <p class="text-2xl text-center text-[#2d9cdb]">Aquí se encuentran las ubicaciones de todos nuestros locales e
        información</p>
    </div>

    <div class="locales-izquierda">
      <div class="container mx-auto">
        <div class="flex flex-col-reverse lg:flex-row gap-4 p-7 bg-slate-100 rounded-xl items-center">
          <div class="basis-full md:basis-1/2">
            <iframe class="rounded-xl w-[100%] h-96"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.691994969933!2d-103.4226223288627!3d20.682106190380797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae935be90517%3A0x733040f3277d3a3d!2sPunto%20Luminoso%20(Grupo%20de%20Alcoholicos%20Anonimos)!5e0!3m2!1ses!2sus!4v1712774461493!5m2!1ses!2sus"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="basis-full md:basis-1/2 flex flex-col justify-center items-center gap-4 px-7">
            <img class="rounded-full bg-white h-60 w-60" src="assets/grupos/punto-luminoso.png"
              alt="Grupo de Alcohólicos Anónimos Punto Luminoso">
            <app-redes-grupo [facebook]="'https://www.facebook.com/puntoluminoso'"
              [instagram]="'https://www.instagram.com/grupo_puntoluminoso/'" [telefono]="'3329204848'" />
            <p class="text-lg text-center">Punto Luminoso es un grupo de Alcoholicos Anónimos donde buscamos lograr,
              mantener y ofrecer la sobriedad física, mental y espiritual a todos los que tengamos ese verdadero deseo
              en común.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="locales-derecha">
      <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row gap-4 p-7 bg-slate-200 rounded-xl items-center">
          <div class="basis-full md:basis-1/2 flex flex-col justify-center items-center gap-4 px-7">
            <img class="rounded-full bg-white h-60 w-60" src="assets/grupos/color.png"
              alt="Grupo de Alcohólicos Anónimos El Color del Despertar">
            <app-redes-grupo [facebook]="'https://www.facebook.com/elcolordeldespertar/'"
              [instagram]="'https://www.instagram.com/elcolordeldespertar/'" [telefono]="'3327659858'" />
            <p class="text-lg text-center">Somos un grupo de personas LGBT+ que utilizamos los doce pasos de
              recuperación de alcohólicos anónimos para trabajar con problemas de alcoholismo, adicción, falta de
              aceptación, codependencia, depresión y ansiedad.

              No importa quien seas o a quien ames, nosotros te comprendemos y juntos haremos nuestro mejor esfuerzo
              para salir de la desolación y caminar hacia la libertad.</p>
          </div>
          <div class="basis-full md:basis-1/2">
            <iframe class="rounded-xl w-[100%] h-96"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1866.420852989065!2d-103.33993687788583!3d20.67601804558543!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b1f26e22363f%3A0x22f37555400afd42!2sPje.%20de%20los%20Herreros%2070%2C%20San%20Juan%20de%20Dios%2C%2044360%20Guadalajara%2C%20Jal.%2C%20M%C3%A9xico!5e0!3m2!1ses!2sus!4v1712777204749!5m2!1ses!2sus"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="locales-izquierda">
      <div class="container mx-auto">
        <div class="flex flex-col-reverse lg:flex-row gap-4 p-7 bg-slate-300 rounded-xl items-center">
          <div class="basis-full md:basis-1/2">
            <iframe class="rounded-xl w-[100%] h-96"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7465.4190698280545!2d-103.383152!3d20.681393!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae6b9c16464f%3A0xd008844dfe0f58a7!2sC.%20La%20Ley%202608%2C%20Circunvalaci%C3%B3n%20Vallarta%2C%2044680%20Guadalajara%2C%20Jal.%2C%20M%C3%A9xico!5e0!3m2!1ses!2sus!4v1712777768353!5m2!1ses!2sus"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="basis-full md:basis-1/2 flex flex-col justify-center items-center gap-4 px-7">
            <img class="rounded-full bg-white h-60 w-60" src="assets/grupos/ocv.png"
              alt="Grupo de Alcohólicos Anónimos Otra Clase de Vuelo">
            <app-redes-grupo [facebook]="'https://www.facebook.com/Otra-clase-de-vuelo-2313460758736069/'"
              [instagram]="'https://www.instagram.com/otraclasedevuelo/'" [telefono]="'3319112483'" />
            <p class="text-lg text-center">Es un grupo de alcohólicos anónimos dónde se emplean los 12 pasos y 12
              tradiciones todo esto con la finalidad de ayudar a personas con problemas de adicciones, emocionales,
              codependencia dónde también se emplean catarsis y apadrinamiento formal además de tener claros los 3
              legados de alcohólicos anónimos unidad, servicio y recuperación.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="locales-derecha">
      <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row gap-4 p-7 bg-slate-400 rounded-xl items-center">
          <div class="basis-full md:basis-1/2 flex flex-col justify-center items-center gap-4 px-7">
            <img class="rounded-full bg-white h-60 w-60" src="assets/grupos/ameca.png"
              alt="Grupo de Alcohólicos Anónimos Somos Ameca">
            <app-redes-grupo [facebook]="'https://www.facebook.com/SomosDespertarAmeca'"
              [instagram]="'https://www.instagram.com/somosameca/'" [telefono]="'3751467624'" />
            <p class="text-lg text-center text-white">Somos Ameca es un grupo de autoayuda que abrió sus puertas hace 8
              años en el
              cual es bienvenida toda aquella persona con problemas de alcoholismo, drogadicción o cualquier tipo de
              problemas con conductas autodestructivas que tengan el deseo de dejar de sufrir.</p>
          </div>
          <div class="basis-full md:basis-1/2">
            <iframe class="rounded-xl w-[100%] h-96"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d466.99669710039035!2d-104.042134!3d20.548262!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8426764f7dcce3c1%3A0x5a32b2be0f16671b!2sC.%20Guti%C3%A9rrez%2095%2C%20Los%20Naranjos%2C%2046600%20Ameca%2C%20Jal.%2C%20M%C3%A9xico!5e0!3m2!1ses!2sus!4v1712777894391!5m2!1ses!2sus"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="locales-izquierda">
      <div class="container mx-auto">
        <div class="flex flex-col-reverse lg:flex-row gap-4 p-7 bg-slate-500 rounded-xl items-center">
          <div class="basis-full md:basis-1/2">
            <iframe class="rounded-xl w-[100%] h-96"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7477.324822570362!2d-103.929013!3d20.437969!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8425de092bef2109%3A0x71f84f161c4b02a4!2sHidalgo%2037%2C%20San%20Martin%20Centro%2C%2046770%20San%20Mart%C3%ADn%20Hidalgo%2C%20Jal.%2C%20M%C3%A9xico!5e0!3m2!1ses!2sus!4v1712779049768!5m2!1ses!2sus"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="basis-full md:basis-1/2 flex flex-col justify-center items-center gap-4 px-7">
            <img class="rounded-full bg-white h-60 w-60" src="assets/grupos/felices-alegres-libres.jpeg"
              alt="Grupo de Alcohólicos Anónimos Felices Alegres y Libres">
            <app-redes-grupo [facebook]="'https://www.facebook.com/profile.php?id=100082226348890'" [instagram]="'https://www.instagram.com/colectivo_c_de_corazon/'" [telefono]="'3751163609'" />
            <p class="text-lg text-center text-white">Es un grupo de Alcohólicos Anónimos dónde se trabajan los 12 pasos
              y las 12
              tradiciones y se practican principios espirituales, ayudamos a personas con problemas de adicciones ya
              sean drogas, alcohol también emocionales y codependencia también trabajamos con la catarsis y
              apadrinamiento formal para poder salir adelante todos juntos como grupo.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="locales-derecha">
      <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row gap-4 p-7 bg-slate-400 rounded-xl items-center">
          <div class="basis-full md:basis-1/2 flex flex-col justify-center items-center gap-4 px-7">
            <img class="rounded-full bg-white w-60 px-5 py-20" src="assets/grupos/coincidir.png"
              alt="Grupo de Alcohólicos Anónimos Coincidir">
            <app-redes-grupo [facebook]="'https://www.facebook.com/profile.php?id=100082226348890'"
              [instagram]="'https://www.instagram.com/colectivo_c_de_corazon/'" [telefono]="'3314161065'" />
            <p class="text-lg text-center text-white">Coincidir es un grupo de Alcoholicos Anónimos donde buscamos lograr,
              mantener y ofrecer la sobriedad física, mental y espiritual a todos los que tengamos ese verdadero deseo
              en común.</p>
          </div>
          <div class="basis-full md:basis-1/2">
              <iframe class="rounded-xl w-[100%] h-96" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3641.9967118482077!2d-110.37588889999999!3d24.1016111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjTCsDA2JzA1LjgiTiAxMTDCsDIyJzMzLjIiVw!5e0!3m2!1ses!2smx!4v1714769332528!5m2!1ses!2smx"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
