<section class="inicio bg-[url('/assets/img/manos-al-centro.png')] px-6 md:px-0 bg-cover bg-no-repeat bg-center h-svh bg-fixed">
  <div class="container mx-auto">

    <div class="absolute translate-y-96">
      <h1 class="heading-primary mb-4">
        <span class="text-5xl font-medium lg:text-6xl text-[#2d9cdb]" style="text-shadow: white 0px 0px 10px;">HAY UNA
          SOLUCIÓN</span>
        <span class="block text-xl font-medium lg:text-2xl text-[#f0565d]"
          style="text-shadow: white 0px 0px 10px;">QUIZAS NOSOTROS PODAMOS AYUDARTE</span>
      </h1>

      <app-redes-sociales/>

    </div>

  </div>
</section>

<app-quienes-somos />
<app-youtube />
<app-asiste/>
