<div class="container mx-auto pb-5">
  <div class="flex flex-col gap-5">

    <div class="flex flex-row gap-5">
      <div class="basis-3/12 bg-slate-300 rounded-xl px-10 py-5">
        <app-card-logo-title srcImg="assets/grupos/ocv.png" nombreGrupo="Otra Clase de Vuelo"></app-card-logo-title>
      </div>
      <div class="basis-5/12 bg-slate-300 rounded-xl p-6">

        <info-grupo descripcion="Grupo de autoayuda AA" horarios="Lunes a Viernes de 7:00 PM a 9:00 PM"
          telefono="3319112483" facebook="https://www.facebook.com/Otra-clase-de-vuelo-2313460758736069/"
          instagram="https://www.instagram.com/otraclasedevuelo/" />

      </div>

      <div class="basis-2/12 bg-slate-300 rounded-xl p-6">
        <h2 class="text-4xl text-center text-gray-700 mb-2">Ubicación:</h2>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.7087459409295!2d-103.38563462475284!3d20.681425080882384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428af6a87a3a571%3A0xf2d497a790fa8a7c!2sOtra%20Clase%20de%20Vuelo!5e0!3m2!1ses-419!2smx!4v1723310304560!5m2!1ses-419!2smx"
          width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>

    <div class="flex flex-row gap-5 ">
      <div class="basis-9/12 bg-slate-300 rounded-xl p-6">

        <h2 class="text-4xl text-gray-700 mb-2">Fotos:</h2>

        <card-fotos [srcImgs]="imageUrls"/>

      </div>
      <div class="basis-3/12 bg-slate-300 rounded-xl px-10 py-5 h-fit sticky top-24">

        <h2 class="text-4xl text-gray-700 mb-2">Rutas de camion:</h2>

        <card-rutas-camion [rutas]="rutas"/>

      </div>
    </div>
  </div>
</div>
