<div class="container mx-auto max-w-5xl">
  <div class="flex flex-col gap-5">

    <div class="flex flex-row gap-5">
      <div class="basis-1/4 bg-slate-300 rounded-xl px-10 py-5">

        <img class="rounded-full" src="assets/grupos/punto-luminoso.png" alt="">
        <h1>Punto Luminoso</h1>
        <app-redes-grupo [facebook]="'https://www.facebook.com/puntoluminoso'"
          [instagram]="'https://www.instagram.com/grupo_puntoluminoso/'" [telefono]="'3329204848'" />

      </div>
      <div class="basis-3/4 bg-slate-300 rounded-xl p-10">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore blanditiis et eligendi quibusdam ex,
          laudantium, ea, dicta nemo excepturi laborum doloremque magnam reprehenderit facilis quidem natus perferendis
          similique optio culpa.</p>

      </div>
    </div>
    <div class="flex flex-row gap-5">
      <div class="basis-2/4 bg-slate-300 rounded-xl px-10 py-5">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore blanditiis et eligendi quibusdam ex,
          laudantium, ea, dicta nemo excepturi laborum doloremque magnam reprehenderit facilis quidem natus perferendis
          similique optio culpa.</p>

      </div>
      <div class="basis-2/4 bg-slate-300 rounded-xl p-10">

        <img class="rounded-full" src="assets/grupos/punto-luminoso.png" alt="">
        <h1>Punto Luminoso</h1>
        <app-redes-grupo [facebook]="'https://www.facebook.com/puntoluminoso'"
          [instagram]="'https://www.instagram.com/grupo_puntoluminoso/'" [telefono]="'3329204848'" />

      </div>
    </div>
  </div>
</div>
